*{
    margin: 0;
    padding: 0;
}
img{ max-width:auto;}
body{
    background-image: url(https://c0.wallpaperflare.com/preview/867/460/928/line-light-black-and-white-abstract.jpg);
}
.gallery_box li{ max-width: auto; display:inline-block; float: left; text-align: center; overflow: hidden; position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 404px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
}

.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:64C9CF;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.navbar{
    border: solid white;
}
.bar{
    top:50px;
    padding: 0;
    margin: 0;
}
.gallery{
    font-size: 50px;
    color: aliceblue;
    height:40px;
    width: 55px;
    position: relative;
    top: 20px;
    left:50px;
}
.home{
    font-size: 25px;
    color: antiquewhite;
    height: 25px;
    width: 50px;
    position: relative;
    top: -10px;
    left:600px;
}
.events{
    color:antiquewhite;
    font-size: 25px;
    height: 25px;
    width: 50px;
    position: relative;
    top: -35px;
    left: 700px;
}
.idle{
    color: antiquewhite;
    font-size: 25px;
    height: 25px;
    width: 50px;
    position: relative;
    top: -60px;
    left: 800px;
}
