a{
    text-decoration: none;
    height: 25px;
    width: 25px;
}
.btn1{
    position: relative;
    top:50px;
    border-radius: 25px;
    font-size: medium;
    text-decoration: none;
}
.container{
    align-content: center;
    text-align: center;
    position: relative;
    top:125px;
    left:25%;
    height: 375px;
    width: 50%;
    background-color:#64C9CF;
    border: solid #512D6D;
    border-radius: 50px;
}
body{
    background-color: black;
}
.btn{
    background: #34d9d9;
    background-image: -webkit-linear-gradient(top, #34d9d9, #2980b9);
    background-image: -moz-linear-gradient(top, #34d9d9, #2980b9);
    background-image: -ms-linear-gradient(top, #34d9d9, #2980b9);
    background-image: -o-linear-gradient(top, #34d9d9, #2980b9);
    background-image: linear-gradient(to bottom, #34d9d9, #2980b9);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    -webkit-box-shadow: 4px 4px 24px #1d7eab;
    -moz-box-shadow: 4px 4px 24px #1d7eab;
    box-shadow: 4px 4px 24px #1d7eab;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 9px 20px 14px 20px;
    text-decoration: none;
    position: relative;
    top:25px;
  }
  
.btn:hover {

    background: #3cb0fd;
    text-decoration: none;
}
