<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="password.css" rel="stylesheet">
    <link rel="icon" href="favicon-16x16.png">
    <title>Reset Password Email</title>
    <style>
        .in{
            position: relative;
            top:13px;
        }
    </style>
</head>
<body>
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <!-- <form method="POST">
            {% csrf_token %}
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="password" name="new_password1" placeholder="Password" required />
              </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="new_password2" placeholder="Re-Password" required />
            </div>                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form> -->
        <form method="post"><!--{% csrf_token %}-->
            <fieldset class="module aligned">
                <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                <div class="form-row field-password1">
                    <!--{{ form.new_password1.errors }}-->
                    <label for="id_new_password1"></label>
                    <!--{{ form.new_password1 }}-->
                </div>
                <div class="form-row field-password2">
                    <!--{{ form.new_password2.errors }}-->
                    <label for="id_new_password2"></label>
                    <!--{{ form.new_password2 }}-->
                </div>
                <input type="submit" value="Change password" class="in">
            </fieldset>
            </form>
    </div>
</body>
</html>
